
html, body{
    background-color: #faebd7;
    margin: 0;
}

h1,h2,h3{
    color: #C40234;
    font-family:'Limelight';
}

p, li{
    color: #310E07;
}

nav{
    background-color:#A21324;
    padding-left: 10%;
    color: white;
}

.site-title{
   text-align: center;
   font-size: 40%;
}
#about, #expect, #schedule{
    margin-left: 5%;
   
}

#divider{
    border: solid 10px #510614;
}

.title-intro{
    display: flex;
    border: 5px black solid;
}

.title-intro > div{
    border: 5px blue solid;
}

.site-name{
    text-align:center;
    font-size: 90%;
    padding: 10%;
}

.Hello{
    position: relative;
    text-align: center;
    border: solid 3px black;
    
}

.text{
    position: absolute;
    border: solid 3px black;
}

button{
    font-family: 'Limelight';
    color: white;
    background-color: #A21324;
    border-color: #A21324;
}